nav{
    display: flex;
    background-color: #24242c;
    height: 40px;
    align-items: center;
    font-family: Arial;
}
ul{
    display:flex;
    list-style: none;
    flex-direction: row;
}

li{
    padding: 5px;
}

a{
    color:white;
    text-decoration: none;
}

#link{
    color: #959799;
}

select{
    background-color: #24242c;
    color: #959799;
}

button:disabled{
    background-color: #24242c;
    color: #585b5e;
    border: none;
    scroll-behavior: smooth;
}

#hamburger{
    display: none;
}

#search{
    background-color: #24242c;
    color: #217d53;
    border-radius: 10%;
    border: 1px solid #217d53;
}

#search:hover{
    background-color: green;
    color:white;
}

#searchbar{
    border-radius: 10%;
}

@media (max-width: 768px) {
    .hidden{
        display: none;
    }
    #hamburger{
        display: contents;
    }
}