section{
    display: grid;
    width: 400px;
    height: 600px;
    border: 3px solid black;
}
section.grid{
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    grid-template-areas:
    "display display display display"
    "addizione sottrazione moltiplicazione divisione"
    "sette otto nove uguale"
    "quattro cinque sei uguale"
    "uno due tre uguale"
    "zero punto ac uguale";
}

.addizione{
    grid-area: addizione;
    font-weight: bold;
    background-color:lightblue;
}

.sottrazione{
    grid-area: sottrazione;
    font-weight: bold;
    background-color:lightblue;
    
}

.moltiplicazione{
    grid-area: moltiplicazione;
    font-weight: bold;
    background-color:lightblue;
}

.divisione{
    grid-area: divisione;
    font-weight: bold;
    background-color:lightblue;
}

.uno{
    grid-area: uno;
    font-weight: bold;
    background-color:lightgray;
}

.due{
    grid-area: due;
    font-weight: bold;
    background-color:lightgray;
}

.tre{
    grid-area: tre;
    font-weight: bold;
    background-color:lightgray;
}

.quattro{
    grid-area: quattro;
    font-weight: bold;
    background-color:lightgray;
}

.cinque{
    grid-area: cinque;
    font-weight: bold;
    background-color:lightgray;
}

.sei{
    grid-area: sei;
    font-weight: bold;
    background-color:lightgray;
}

.sette{
    grid-area: sette;
    font-weight: bold;
    background-color:lightgray;
}

.otto{
    grid-area: otto;
    font-weight: bold;
    background-color:lightgray;
}

.nove{
    grid-area: nove;
    font-weight: bold;
    background-color:lightgray;
}

.zero{
    grid-area: zero;
    font-weight: bold;
    background-color:lightgray;
}

.punto{
    grid-area: punto;
    font-weight: bold;
    background-color:lightgray;
}

.ac{
    grid-area: ac;
    font-weight: bold;
    background-color:lightgray;
}

.uguale{
    grid-area: uguale;
    font-weight: bold;
    background-color:lightcoral;
}

input{
    grid-area:display;
    text-align: end;
    color: white;
    font-size: 60px;
    background-color: rgba(66,76,82,255);
}