body{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "g g g"
    "y r b"
    "o o b";
}

#orange{
    grid-area: o;
}

#green{
    grid-area: g;
}

#yellow{
    grid-area: y;
}

#red{
    grid-area: r;
}

#blue {
    grid-area: b;
}

ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}